n8n/workflows/BROWSERLESS_FETCH_HTML.json
{
  "name": "BROWSERLESS_FETCH_HTML",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "browserless-fetch",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "browserless-fetch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://production-sfo.browserless.io/content?token=2TaFV71D6Cm56Ua44ab549b7e251fe9a85eb1e7a9b11a0aec",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.url, waitUntil: $json.waitUntil || 'networkidle0', gotoOptions: { timeout: 30000 } }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 60000
        }
      },
      "id": "browserless-request",
      "name": "Browserless Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, url: $('Webhook Trigger').item.json.url, html: $json.data, timestamp: new Date().toISOString() } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [710, 250]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, url: $('Webhook Trigger').item.json.url, error: $json.message || 'Browserless request failed', timestamp: new Date().toISOString() } }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [710, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Browserless Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless Content": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "browserless"
    },
    {
      "name": "scraping"
    }
  ],
  "triggerCount": 0,
  "active": false
}
