n8n/workflows/sam_morning_campaign.json
{
  "name": "SAM • Morning Campaign (9AM CT)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 15,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "9AM CT Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 300],
      "notes": "Triggers at 9:00 AM Central Time (15:00 UTC) Monday through Saturday. Cron: 0 15 * * 1-6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-weekday",
              "leftValue": "={{ new Date().getUTCDay() }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-not-sunday",
      "name": "Not Sunday?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [300, 300],
      "notes": "Skips execution on Sundays (getUTCDay() = 0)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://maxsam-v4-clean-logans-projects-4cd3e4e9.vercel.app/api/sam/campaign",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"target_class\": \"high_value\",\n  \"limit\": 20,\n  \"dry_run\": false\n}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "call-campaign-api",
      "name": "Call MaxSam Campaign API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200],
      "notes": "POST to /api/sam/campaign with target_class=high_value, limit=20, dry_run=false"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.body.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 200],
      "notes": "Check if the API response success field is true"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\",\n  \"text\": \"🤖 SAM CAMPAIGN COMPLETE (N8N)\\n\\nSent: {{ $json.body.results?.success || 0 }}\\nFailed: {{ $json.body.results?.failed || 0 }}\\n\\nCheck Telegram for full summary!\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "notify-success",
      "name": "Notify Logan - Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 100],
      "notes": "Send Telegram notification on successful campaign execution"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\",\n  \"text\": \"⚠️ SAM Campaign failed: {{ $json.body?.error || $json.body?.message || 'Unknown error' }}\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "notify-error",
      "name": "Alert Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "notes": "Send Telegram alert when campaign fails"
    },
    {
      "parameters": {},
      "id": "sunday-skip",
      "name": "Sunday - Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [500, 400],
      "notes": "No operation on Sundays"
    }
  ],
  "connections": {
    "9AM CT Daily Trigger": {
      "main": [
        [
          {
            "node": "Not Sunday?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Sunday?": {
      "main": [
        [
          {
            "node": "Call MaxSam Campaign API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sunday - Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call MaxSam Campaign API": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Notify Logan - Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "sam",
      "id": "sam-tag"
    },
    {
      "name": "campaign",
      "id": "campaign-tag"
    },
    {
      "name": "maxsam",
      "id": "maxsam-tag"
    },
    {
      "name": "production",
      "id": "production-tag"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-20T00:00:00.000Z",
  "versionId": "1.0.0",
  "active": true,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "maxsam-v4"
  }
}
